<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Banking ATM</h2>
          <form #accountForm="ngForm" (ngSubmit)="createAccount(accountForm)">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                ngModel
                placeholder="Enter your name"
              />
            </div>
            <div class="form-group">
              <label for="pin">PIN Number</label>
              <input
                type="password"
                class="form-control"
                id="pin"
                name="pin"
                ngModel
                placeholder="Enter your PIN"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block mt-4"
              style="margin-left: 40%"
              
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
